<!DOCTYPE html>

<html>

<head>

<title>Object Detection</title>

<!--import script files needed fro plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="#">Object Detection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.github.com/nsckir">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/kiril-schewzow/">LinkedIn</a>
      </li>
    </ul>
  </div>
</nav>

<!--middle section-->
{#<div class="row">#}

{#	<!--social media buttons column-->#}
{#	<div class="col-1 border-right">#}
{#		<div id="follow-me" class="mt-3">#}
{#			<a href="#">#}
{#				<img src="/static/IMG/most_recent_detection.jpg" alt="linkedin" class="img-fluid mb-4 ml-2">#}
{#			</a>#}
{#			<a href="#">#}
{#				<img src="/static/IMG/most_recent_detection.jpg" alt="github" class="img-fluid ml-2">#}
{#			</a>#}
{#		</div>#}
{#	</div>#}

	<!--visualizations column-->
{#	<div class="col-12">#}

		<!--chart descriptions-->
		<div id="middle-info" class="ml-3 mt-2">

{#			<h2 id="tag-line">Vehicle Detection</h2>#}
			<h4 id="tag-line" class="text-muted">Vehicle detection and analysis in a live traffic cam stream</h4>

		</div>

		<hr>

{#		<!-- dropdown menu for filter -->#}
{#		<div class="dropdown">#}
{#		  		#}
{#	  		<button class="btn btn-danger btn-lg dropdown-toggle" type="button" #}
{#	  		id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" #}
{#	  		aria-expanded="false">Filter by country</button>#}
{#	  		#}
{#	  		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="check-boxes">#}
{#				<div class="form-check ml-3">#}
{#					<!-- Check the select-all box if all countries were submitted from the form -->#}
{#					{% if countries_selected|length == 10 %}#}
{#						<input class="form-check-input" type="checkbox" name="Select All" value="selectall" id="select-all-check" checked>#}
{#					{% else %}#}
{#						<input class="form-check-input" type="checkbox" name="Select All" value="selectall" id="select-all-check">#}
{#					{% endif %}#}
{#				  	<label class="form-check-label" for="select-all-check">Select All</label>#}
{#				</div>#}
{#				<form class="px-4 py-3" role="form" method="post" action="/" id="form-filter">#}
{#					{% for country in all_countries %}#}
{#						<div class="form-check">#}
{#							<!-- Check the country filter boxes for all countries submitted from the form -->#}
{#							{% if country[1] in countries_selected %}#}
{#						  		<input class="form-check-input country-check" type="checkbox" name="{{ country[0] }}" value="{{ country[1] }}" id="defaultCheck1-{{country[1]}}" checked>#}
{#							{% else %}#}
{#						  		<input class="form-check-input country-check" type="checkbox" name="{{ country[0] }}" value="{{ country[1] }}" id="defaultCheck1-{{country[1]}}">							#}
{#							{% endif %}#}
{#					  		<label class="form-check-label" for="defaultCheck1-{{country[1]}}">{{country[0]}}</label>#}
{#						</div>#}
{#					{% endfor %}#}
{#		  			<button id="country_selector" type="submit" class="btn btn-primary my-1">Submit</button>#}
{#				</form>#}
{#			</div>#}
{#		</div>#}

		<!--image_and_video-->
		<div id="image_and_video" class="container mt-3 text-center">

			<div class="row">
				<div class="col">
                    <div class="page-header">
                        <h4 class="text-center">Live Stream</h4>
                    </div>
					<div id="youtube_video" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1EiC9bvVGnk?autoplay=1&mute=1" allowfullscreen>
                        </iframe>
					</div>
				</div>
				<div class="col">
                    <div class="page-header">
                        <h4 class="text-center">Most Recent Image</h4>
                    </div>
					<div id="example">
						<img class="img-fluid" src="{{ user_image }}" alt="Example" onload='imageRefresh(this, 5000);'>
					</div>
				</div>
			</div>
        </div>

		<!--charts-->
        <div id="charts" class="container mt-3 text-center">
            <div class="page-header">
                <h1 class="text-center">Overview of the Data</h1>
            </div>

			<div class="row">
				<div class="col">
					<div id="chart1">
						<div id="{{ids[0]}}"></div>
					</div>
				</div>
				<div class="col">
					<div id="chart2">
						<div id="{{ids[1]}}"></div>
					</div>
				</div>
			</div>
        </div>


{#	</div>#}
{#</div>#}

<!--footer section-->
<div id="footer" class="container"></div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }

</script>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }

</script>

<script type="text/javascript">
     function imageRefresh(img, timeout) {
        setTimeout(function() {
         let d = new Date;
         let http = img.src;
         if (http.indexOf("?d=") !== -1) { http = http.split("?d=")[0]; }

         img.src = http + '?d=' + d.getTime();
        }, timeout);
      }
</script>
</body>
</html>